<section>
  <header class="major">
    <h2>Get in touch</h2>
  </header>
  <p>Please contact me with any specific questions through any of these channels.</p>
  <table width="100%">
    {% assign contactinfo = site.data.contactinfo.index | sort: 'view_sort' %}
    {% for info in contactinfo %}
      {% if info.category != 'Phone' and info.category != 'Work' %}
        <tr>
          <td width="25%" align="center" valign="middle"><a href="{{ info.url }}" target="_blank"><img src="{{ info.image }}" width="25" style="padding: 2px;" align="center" /></a></td>
          <td width="75%" align="center" valign="middle"><a href="{{ info.url }}" target="_blank">Grab Me Via {{ info.name }}</a></td>
      </tr>
      {% endif %}
    {% endfor %}
  </table>
</section>
